:root {
  --font-family: 'Oxygen', sans-serif;
  --font-size: 16px;

  --icon-size: 64px;

  --color-dark: #162938;
  --color-light: #fcfcfc;
  --color-primary: #b5ccd8;
  --color-secondary: #fda215;

  --color-primary-hover: #b7c9d3;
  --color-secondary-hover: #f59c17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

path {
  width: 100%;
  height: 100%;
  fill: var(--color-light);
}
