:root {
  --font-family: 'Oxygen', sans-serif;
  --font-size: 16px;

  --icon-size: 64px;

  --color-dark: #162938;
  --color-light: #fcfcfc;
  --color-primary: #dbe9f1;
  --color-text: #70a0c5;
  --color-secondary: #fda215;

  --color-primary-hover: #d9e5ec;
  --color-secondary-hover: #f59c17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

path {
  width: 100%;
  height: 100%;
  /* fill: var(--color-light); */
  fill: red;
}
